TestProject/Service References/ServiceAtencion/ServiceAtencion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27275/ServiceAtencion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServices.Errores" />
  <xs:complexType name="Atencion">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServices.Errores" base="q1:RepetidoException">
        <xs:sequence>
          <xs:element minOccurs="0" name="Dni" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Atencion" nillable="true" type="tns:Atencion" />
  <xs:complexType name="ArrayOfAtencion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Atencion" nillable="true" type="tns:Atencion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAtencion" nillable="true" type="tns:ArrayOfAtencion" />
</xs:schema>