TestProject/Service References/ServiceAtencion/ServiceAtencion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceAtencion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:27275/ServiceAtencion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:27275/ServiceAtencion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServices.Errores" />
      <xsd:import schemaLocation="http://localhost:27275/ServiceAtencion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:27275/ServiceAtencion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAtencion_Registro_InputMessage">
    <wsdl:part name="parameters" element="tns:Registro" />
  </wsdl:message>
  <wsdl:message name="IServiceAtencion_Registro_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistroResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAtencion_Registro_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServices.Errores" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IServiceAtencion_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IServiceAtencion_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAtencion_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IServiceAtencion_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAtencion_Modificar_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar" />
  </wsdl:message>
  <wsdl:message name="IServiceAtencion_Modificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAtencion_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IServiceAtencion_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAtencion">
    <wsdl:operation name="Registro">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAtencion/Registro" message="tns:IServiceAtencion_Registro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAtencion/RegistroResponse" message="tns:IServiceAtencion_Registro_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceAtencion/RegistroRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IServiceAtencion_Registro_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAtencion/Listar" message="tns:IServiceAtencion_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAtencion/ListarResponse" message="tns:IServiceAtencion_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAtencion/Obtener" message="tns:IServiceAtencion_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAtencion/ObtenerResponse" message="tns:IServiceAtencion_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAtencion/Modificar" message="tns:IServiceAtencion_Modificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAtencion/ModificarResponse" message="tns:IServiceAtencion_Modificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAtencion/Eliminar" message="tns:IServiceAtencion_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAtencion/EliminarResponse" message="tns:IServiceAtencion_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAtencion" type="tns:IServiceAtencion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registro">
      <soap:operation soapAction="http://tempuri.org/IServiceAtencion/Registro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IServiceAtencion/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IServiceAtencion/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <soap:operation soapAction="http://tempuri.org/IServiceAtencion/Modificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IServiceAtencion/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAtencion">
    <wsdl:port name="BasicHttpBinding_IServiceAtencion" binding="tns:BasicHttpBinding_IServiceAtencion">
      <soap:address location="http://localhost:27275/ServiceAtencion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>